@model EventManager.Models.EventItem

@{
    bool pending = DateTime.Compare(Model.Start, Model.End) == 0;
}
<tr>
    <td>
        @if (pending)
        {
            @Html.ActionLink("Stop", "Stop", new { id = Model.Id })
        }
    </td>
    <td>
        @Html.DisplayFor(model => model.Titel)
    </td>
    <td>
        @Html.DisplayFor(model => model.Description)
    </td>
    <td>
        @Html.DisplayFor(model => model.StartDate)
    </td>
    <td>
        @Html.DisplayFor(model => model.StartTime)
    </td>
    <td>
        @if (!pending)
        {
            @Html.DisplayFor(model => model.EndTime)
        }        
    </td>
    <td>
        @if(!pending)
        {
            @Html.DisplayFor(model => model.Duration)
        }
    </td>
    <td>
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    </td>
</tr>