@model EventManager.Models.EventItem

@{
    bool pending = DateTime.Compare(Model.Start, Model.End) == 0;
}
<div>
    <div>
        <b>@Html.DisplayNameFor(model => model.Titel): </b>@Html.DisplayFor(model => model.Titel)
    </div>
    <div class="ui-grid-c">
        <div class="ui-block-a">
            <h6>@Html.DisplayNameFor(model => model.StartTime)</h6>
            @Html.DisplayFor(model => model.StartTime)
        </div>
        <div class="ui-block-b">
            @if (pending)
            {
                <h6>Pending Event</h6>
            }
            else
            {
                <h6>@Html.DisplayNameFor(model => model.EndTime)</h6>
                @Html.DisplayFor(model => model.EndTime)

            }
        </div>
        <div class="ui-block-c">
            @if (!pending)
            {
                <h6>@Html.DisplayNameFor(model => model.Duration)</h6>
                @Html.DisplayFor(model => model.Duration)
            }
        </div>        
        <div class="ui-block-d">
            <div style="float:right">
                @if (pending)
                {
                    @Html.ActionLink("Stop", "Stop", new { id = Model.Id })
                }
                @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
            </div>
        </div>
    </div>
</div>