@model EventManager.Models.EventItem

<div>
    <div>
        <b>@Html.DisplayNameFor(model => model.Titel): </b>@Html.DisplayFor(model => model.Titel)
    </div>
    <div class="ui-grid-a">
        <div class="ui-block-a">
            <h6>@Html.DisplayNameFor(model => model.StartTime)</h6>
            @Html.DisplayFor(model => model.StartTime)         
        </div>
        <div class="ui-block-b">
            <div style="float:right">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
                @Html.ActionLink("Stop", "Stop", new { id = Model.Id })
                @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
            </div>            
        </div>
    </div>
</div>