@model EventManager.Models.TypedEventItem

@{
    Html.EnableClientValidation();
}

@using (Html.BeginForm("Edit", "Event", FormMethod.Post, new { data_ajax = "false" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Titel);            
            <div class="col-md-10">
                    @Html.EditorFor(model => model.Titel, new { htmlAttributes = new { @class = "form-control span2", @placeholder = @Html.NameFor(model => model.Titel) } })
                    @Html.ValidationMessageFor(model => model.Titel, "", new { @class = "text-danger" })      
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description);
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control span2", @placeholder = @Html.NameFor(model => model.Description) } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartTime)
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control span2"} })
                @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndTime)
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control span2" } })
                @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type)
            <div class="col-md-10">
                @Html.ActionLink("Add","AddEventType")
            </div>
        </div>
            <input type="submit" value="Start" class="btn btn-default" />
        </div>
}
