@model IEnumerable<EventManager.Models.EventItem>

    @{
        ViewBag.Title = "Event Overview";
    }

    <h2>Event Overview</h2>
    @using (Html.BeginForm("Start", "Overview"))
    {
        <p>
            @Html.TextBox("description")
            <input type="submit" value="Start" />
        </p>
    }
    <table class="table">
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
           @Html.Partial("_OverviewItem", item);
        }

    </table>
    <p>
        @Html.ActionLink("Pending Events", "Pending") |
        @Html.ActionLink("Edit", "Edit")
    </p>
