@model IEnumerable<EventManager.Models.EventItem>

@{
    ViewBag.Title = "Current Events";
}

<h2>Current Events</h2>

@using (Html.BeginForm("Start", "Pending"))
{
    <p>
        @Html.TextBox("description")
        <input type="submit" value="Start" />
    </p>
}

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) 
{
    @Html.Partial("_PendingItem",item);
}

</table>
<p>
    @Html.ActionLink("Details", "Details")
</p>
