@model LocalBusiness.Models.BusinessContact

<div>
    <div>
        @Html.LabelFor(Model.City)
        @Html.DisplayFor(Model.City);
    </div>
    <div>
        @Html.LabelFor(Model.Street)
        @Html.DisplayFor(Model.Street);
    </div>
    <div>
        @Html.LabelFor(Model.Email)
        @Html.DisplayFor(Model.Email);
    </div>
    <div>
        @Html.LabelFor(Model.Telephone)
        @Html.DisplayFor(Model.Telephone);
    </div>
</div>
