@model IEnumerable<LocalBusiness.Models.BusinessSchedule>

<table class="table">
    <tr>
        <th></th>
        <th>@Html.DisplayNameFor(model => model.Open)</th>
        <th>@Html.DisplayNameFor(model => model.Close)</th>
        <th>@Html.DisplayNameFor(model => model.Break)</th>
    </tr>   
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WeekDay)
        </td>
        @if (item.IsOpen)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Open)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Close)
            </td>
        }
        else
        {
            <td colspan="2">Closed</td>
        }
        <td>

        </td>
    </tr>
}
</table>
