@model IEnumerable<TimeLogger.Models.Event>

@{
    ViewBag.Title = "Events";
    DateTime lastDay = default(DateTime);
}

@Html.Partial("CreateEvent", new TimeLogger.Models.Event())

@Html.ValidationSummary("Die folgenden Fehler sind aufgetreten:")

<ul data-role="listview">
    @foreach (var item in Model)
    {
        if (item.TimePoint.Date != lastDay)
        {
            lastDay = item.TimePoint.Date;
            <li data-role="list-divider">@Html.DisplayFor(modelItem => item.Date)</li>
        }
        <li>
            <div>
                <span>@Html.DisplayFor(modelItem => item.Description)</span>
                <span>
                    @Html.DisplayFor(modelItem => item.EventType):
                    @Html.DisplayFor(modelItem => item.Time)
                </span>           
            </div>
        </li>
    }
</ul>
