@model IEnumerable<TimeLogger.Models.Event>

@{
    ViewBag.Title = "Events";
    DateTime lastDay = default(DateTime);
}
<p>
    @Html.ActionLink("Stop", "CreateStop") |
    @Html.ActionLink("Start", "CreateStart") |
    @Html.ActionLink("Break", "CreateBreak")
</p>
@{
    if (ViewBag.Message != null)
    {
        <p>
            @ViewBag.Message
        </p>
    }
}

@Html.ValidationSummary("Die folgenden Fehler sind aufgetreten:")


<ul data-role="listview">
    @foreach (var item in Model)
    {
        if (item.TimePoint.Date != lastDay)
        {
            lastDay = item.TimePoint.Date;
            <li data-role="list-divider">@Html.DisplayFor(modelItem => item.Date)</li>
        }
        <li>
            <div>
                @Html.DisplayFor(modelItem => item.EventType):
                @Html.DisplayFor(modelItem => item.Time)

            </div>
        </li>
    }
</ul>
