@model EventManager.Models.EventItem

<div>
    <p>
        @Html.DisplayFor(model => model.Description)
    </p>
    <p>
        <h5>@Html.DisplayNameFor(model => model.StartTime)</h5>
        @Html.DisplayFor(model => model.StartTime)
     </p>
    <p>
        <h5>@Html.DisplayNameFor(model => model.EndTime)</h5>
        @Html.DisplayFor(model => model.EndTime)
    </p>
    <p>
        <h5>@Html.DisplayNameFor(model => model.Duration)</h5>
        @Html.DisplayFor(model => model.Duration)
    </p>
    <p>
        @if (DateTime.Compare(Model.Start, Model.End) == 0)
        {
            @Html.ActionLink("Stop", "Stop", new { id = Model.Id })
        }
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    </p>
</div>