<!DOCTYPE html> 
<html> 
    <head> 
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title> 
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/Mobile/css")
        <script>
            $(document).ready(function () {
                $.mobile.ajaxEnabled = false; 
            });
        </script>
    </head> 
<body> 

    <div data-role="page" data-theme="a">       
        <div data-role="header" data-position="fixed" class="navbar-fixed-top">
            <h2>@ViewBag.Title</h2>
            <div data-role="navbar">
                @Html.ActionLink("Current Events", "Pending", "Event")
                @Html.ActionLink("Overview", "Overview", "Event")                
            </div>                    
        </div>

        <div data-role="content">
            @RenderBody()		
        </div>
        <div data-role="footer" data-position="fixed">
            @Html.Partial("_ViewSwitcher")
        </div>
    </div>
    @Scripts.Render("~/bundles/jquerymobile")
</body>
</html>